@import "../../styles/variables";
@import "../../../node_modules/bootstrap/scss/mixins/breakpoints";

.clickable {
  &:hover {
    background: var(--bs-dark);
    color: var(--bs-light);
  }
}

.text {
  @include media-breakpoint-down(sm) {
    font-size: 80%;
  }
}
