{
  "extends": ["stylelint-config-standard-scss"],
  "plugins": ["stylelint-order"],
  "overrides": [
    {
      "files": ["src/**/*.svelte"],
      "customSyntax": "postcss-html"
    }
  ],
  "rules": {
    "order/properties-alphabetical-order": true,
    "scss/dollar-variable-colon-space-after": "at-least-one-space"
  }
}
