@use "sass:color";
@import "../../styles/variables";

button {
  background: $dark;
  border: 1px solid color.scale($dark, $lightness: 10%);
  color: $light;

  &:hover {
    background: color.scale($dark, $lightness: 10%);
    border: 1px solid color.scale($dark, $lightness: 20%);
    color: $light;
  }
}
