@use "sass:color";
@import "../../styles/variables";

button {
  background-color: color.scale($body-bg, $lightness: 10%);
  border: 1px solid color.scale($body-bg, $lightness: 20%);
  color: color.scale($body-bg, $lightness: 70%);

  &:hover {
    background-color: color.scale($body-bg, $lightness: 10%);
  }
}
